<script src="//cdnjs.cloudflare.com/ajax/libs/algoliasearch/3.32.0/algoliasearchLite.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/autocomplete.js/0.35.0/autocomplete.jquery.min.js"></script>

<script>
  var client = window.algoliasearch('G83DE3N7W7', 'bcd13ea64e870f8094e34cabdc485a08')
  var index = client.initIndex('samoyedhealthfoundation.org');

  $('#aa-search-input').autocomplete({ hint: false }, [
    {
      source: $.fn.autocomplete.sources.hits(index, { hitsPerPage: 6, facetFilters: 'section:diseases' }),
      displayKey: 'title',
      templates: {
        suggestion: function(suggestion) {
          return '<a href="' + suggestion.url + '">' +
                 suggestion._highlightResult.title.value +
                 '</a>';
        },
        footer: '<div class="branding"><img src="/img/search-by-algolia-light-background-99ac347c.png" /></div>',
      }
    }
  ]);
</script>
