name: Test for Renovate

on:
  push:
    branches:
      - 'renovate/**'
  workflow_dispatch:

jobs:
  build-and-test:
    timeout-minutes: 60
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4
      - run: npm ci

      - run: npm run build
      - run: npm run algolia -- --dry-run

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
