<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="row">

                  <div class="col-md-12">
                    <div class="heading">
                      <h2>SCARF Contacts</h2>
                    </div>
                    <p class="lead">Below are the SCARF 2018 Officers and Board of Directors:</p>
                    <div class="row text-center">
                      <div class="col-md-3">
                        <div class="team-member">
                          <div class="image"><img src="{{ "img/avatar-pb.jpg" | absURL }}" alt="" class="team-member-img"></div>
                          <h3>Pam Barbe</h3>
                          <p class="role">President</p>
                          <ul class="social list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/pam.barbe" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:pam.barbe@samoyedhealthfoundation.org" class="email"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="team-member">
                          <div class="image"><img src="{{ "img/avatar-bs.jpg" | absURL }}" alt="" class="team-member-img"></div>
                          <h3>Bob Sencenbaugh</h3>
                          <p class="role">Vice President, Director SCA</p>
                          <ul class="social list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/bob.sencenbaugh" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:bob.sencenbaugh@samoyedhealthfoundation.org" class="email"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="team-member">
                          <div class="image"><img src="{{ "img/avatar-sh.jpg" | absURL }}" alt="" class="team-member-img"></div>
                          <h3>Sheila Herrmann</h3>
                          <p class="role">Treasurer</p>
                          <ul class="social list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100010677886575" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:sheila.herrmann@samoyedhealthfoundation.org" class="email"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="team-member">
                          <div class="image"><img src="{{ "img/avatar-ls.jpg" | absURL }}" alt="" class="team-member-img"></div>
                          <h3>Leah Seman</h3>
                          <p class="role">Secretary, Secretary SCA</p>
                          <ul class="social list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/leah.seman" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:leah.seman@samoyedhealthfoundation.org" class="email"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="team-member">
                          <div class="image"><img src="{{ "img/avatar-mb.jpg" | absURL }}" alt="" class="team-member-img"></div>
                          <h3>Margaret Black</h3>
                          <p class="role">Director</p>
                          <ul class="social list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/margaret.black.54" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:margaret.black@samoyedhealthfoundation.org" class="email"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="team-member">
                          <div class="image"><img src="{{ "img/avatar-mo.jpg" | absURL }}" alt="" class="team-member-img"></div>
                          <h3>Matt Odille</h3>
                          <p class="role">Director, Web Developer</p>
                          <ul class="social list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/matt.odille" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:matt.odille@samoyedhealthfoundation.org" class="email"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
